/uManagerTestPlugin/nbproject/private/
/uManagerTestPlugin/build/
/uManagerTestPlugin/dist/
/Micro-Manager-Addons-master/FrameAverager.1.4.16/nbproject/private/
/Micro-Manager-Addons-master/FrameAverager.1.4.18/nbproject/private/
/Micro-Manager-Addons-master/FrameAverager/nbproject/private/
/Micro-Manager-Addons-master/TopFrame/nbproject/private/
/Micro-Manager-Addons-master/FrameAverager.1.4.18/dist/
/Micro-Manager-Addons-master/FrameAverager/dist/
/Micro-Manager-Addons-master/FrameAverager.1.4.16/dist/
/FrameAveragerDebug/nbproject/private/
/uManagerSingleEdgeDemo/nbproject/private/
/uManagerSingleEdgeDemo/build/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/JavaApplication1/dist/
/uManagerSingleEdgeDemo/dist/
/uManager32BitDebug/nbproject/private/
/uManager32BitDebug/build/
/FLIMPlateReaderGUI/nbproject/private/
/FLIMPlateReaderGUI/build/
/FLIMPlateReaderGUI/dist/
/FLIMPlateReaderGUI/nbproject
FLIMPlateReaderGUI/src/com/github/dougkelly88/FLIMPlateReaderGUI/GUIComponents/HCAFLIMPluginFrame.java.orig
